{% extends "base.html" %}

{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}

{% block body %}

   <div class="container my-3">
      <h2 class="text-center">About me</h2>

      <div class="row">
        <div class="col-md-4">
        </div>

      <div class="col-md-4">
          <div class="card" style="width: 25rem;  background-color:#EFFCFB">
            <div class="card-body" >
                <img src="/static/img/profile.jpeg" class="card-img-top" alt="..."  height="300">
              <h3 class="text-center">Tabinda Bhat</h3>
              <strong>Data Science and Machine Learning Engineer Enthusiastic.</strong>

              <p class="card-text">I am interested in Data Science and Machine learning. I have nearly 9 months of experience in Data Science. In this duration I worked with data science projects like recommendation system, NLP etc. I want to work with an organization where I can showcase my skills
                and hone them at the same time while working closely within the
                team and contributing towards the company for a constructive
                business.</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:#C6F2EC">
                <div class="container">
                 <strong><u>Skills</u>:</strong>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Python</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Machine Learning</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100">MySql</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="75 " aria-valuemin="0" aria-valuemax="100">NLP</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Data Analysis</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-red progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Git</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Postman</div>
                  </div></br>
                  
                  

                </div><br/>
              <li/> </br>
                <div class="container ">
                  <div class="row">

                    <div class="col-sm">
                         <a href="https://github.com/Tabinda788" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">GitHub</a>
                    </div>

                    <div class="col-sm">
                         <a href="https://www.linkedin.com/in/tabinda-bhat-a1b539152" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">LinkedIn</a>
                    </div>

                    <div class="col-sm">
                         <a href="https://stackoverflow.com/users/14117409/tabinda" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">StackOverflow</a>
                    </div>

                  </div>
        </div></br></br>
            </ul>

            </div>
          </div>
          <div>

        </div>

  </div>
   </div>

{% endblock body %}