{% extends "base.html" %}

{% block experienceactive %}active{% endblock experienceactive%}
{% block title %}experience{% endblock title %}

{% block body %}

    <div class="container my-4">
      <h2 class="text-center">Job experience</h2><br/>

      <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/Diatoz.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Software Development engineer AI-ML</h5>
                    <p class="card-text">In this Company, I have worked as a Software Development Engineer in AI/ML on a Data-Science project.</br>
                        ★ Worked a recommendation system for an end-to-end recruitment platform .</p>
                    
                </div>
            </div>
        </div>

        

      </div>

      

      <br/><br/>
      <h2 class="text-center">Internship experience</h2><br/>
      <div class="row">

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/Diatoz.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Science Intern</h5>
                    <p class="card-text">In this company I worked with the team of data scientists to learn data and data pipelines and get insights out of raw data</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/sparks.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Science Intern at Sparks Foundation</h5>
                    <p class="card-text">★ Implementation​ : ​ Decision Tree, Random Forest, Linear Discriminant Analysis, Naive Bayes, Reinforcement learning.<br/>
                        ★ Project​ : ​ Stock price prdiction. Testing on different Dataset.</p>
                    
                </div>
            </div>
        </div>

        
      </div>

    </div><br/>

{% endblock body %}