{% extends "base.html" %}

{% block experienceactive %}active{% endblock experienceactive%}
{% block title %}experience{% endblock title %}

{% block body %}

    <div class="container my-4">
      <h2 class="text-center">Job experience</h2><br/>

      <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/Diatoz.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Software Development engineer AI-ML</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    
                </div>
            </div>
        </div>

        

      </div>

      

      <br/><br/>
      <h2 class="text-center">Internship experience</h2><br/>
      <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/Diatoz.jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Science Intern</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/sparks.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Science Intern at Sparks Foundation</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    
                </div>
            </div>
        </div>

        
      </div>

    </div><br/>

{% endblock body %}